<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241452602168-h7l8lqv5fmcm1ettlhb5j6v118uo01rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241452602168-h7l8lqv5fmcm1ettlhb5j6v118uo01rf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241452602168-ludho7tt633dlkbulni5hmdlo9foevdg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzbaQ8PgSwKiblDNZrxg-fu5dXKlWcrns</string>
	<key>GCM_SENDER_ID</key>
	<string>241452602168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.rocket.mydictator</string>
	<key>PROJECT_ID</key>
	<string>mydictator</string>
	<key>STORAGE_BUCKET</key>
	<string>mydictator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241452602168:ios:4f4173854d4cf3fe5ba7cd</string>
	<key>DATABASE_URL</key>
	<string>https://mydictator.firebaseio.com</string>
</dict>
</plist>